@attribute [Route(RecipeWorld.Constants.RouteNames.Index)]
@inject NavigationManager Navigation

<h3>Redirecting...</h3>

@code {
    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        // Redirect to another page or URL
        Navigation.NavigateTo(RouteNames.Recipe.List);
    }
}